@page "/servers"


<h3>Servers</h3>
<br />
<br />
<div class="container-fluid text-center">
	<div class="row w-100">
		@foreach (var city in cities)
		{
			<div class="col">
				<div class="card" style="width: 7rem; ">
					<img src="@($"/images/{city}.png")" class="card-img-top" alt="picture of @city">
					<div class="card-body">
						<h5 class="card-title">@city</h5>
						<p class="card-text"></p>
						<button type="button" class="btn btn-primary">Status</button>
					</div>
				</div>
			</div>
		}
	</div>
</div>

<br />
<br />


<ul>
	@foreach (var server in servers)
	{
		<li>
			@server.Name in @server.City is 
			<span style="color:@((server.IsOnline ? "green" : "red"))">
				@(server.IsOnline ? "online" : "offline")
			</span>
		</li>
	}
</ul>

@code {

	private List<Server> servers = ServersRepository.GetServersByCity("Toronto");

	private List<String> cities = CitiesRepository.GetCities();



}
